.bg_outer {
  width: 90%;
  max-width: 600px;
  height: auto;
  padding: 20px;
  margin: auto;
  background: pink;
}

.bubble_container {
  width: 350px;
  position: relative;
  padding: 5px;
  margin-bottom: 15px;
}

.bg_outer:not(:has(+ .bubble_container)) {
  padding-bottom: 7px;
}

.CAwhite {
  width: 0px;
  height: 60px;
  border-radius: 20% 55% 55% 20%;
  border-right: 20px solid white;
  position: absolute;
  right: -25px;
  z-index: 1000;
}

.cxn_allowed, .CAwhite {
  display: none;
}

.cxn_allowed {
  width: 0px;
  height: 60px;
  border-radius: 20% 55% 55% 20%;
  border-right: 30px solid black;
  position: absolute;
  bottom: -40px;
}

.right:has(+ .bubble_container.right) .cxn_allowed {
  display: inline;
  right: 120px;
}

.right:has(+ .bubble_container.right) .CAwhite {
  display: inline;
}

.left:has(+ .bubble_container.left) .cxn_allowed {
  display: inline;
  border-radius: 55% 20% 20% 55%;
  border-left: 30px solid black;
  border-right: 0;
  left: 120px;
}

.left:has(+ .bubble_container.left) .CAwhite {
  display: inline;
  border-radius: 55% 20% 20% 55%;
  border-left: 20px solid white;
  border-right: 0;
  position: absolute;
  left: -25px;
}

.bubble {
  background: white;
  min-height: 80px;
  border-radius: 48%;
  text-align: center;
  padding: 30px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  color: black;
  text-transform: uppercase;
  font-size: 1.4em;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
  font-style: italic;
  position: relative;
  z-index: 100;
}

.maybe_tailR {
  display: none;
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  right: 10px;
}

.maybe_tailR::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 60px solid white;
  transform: rotate(-35deg);
  position: absolute;
  bottom: -2px;
  right: 9px;
  z-index: 1000;
}

.maybe_tailR::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 38px solid transparent;
  border-right: 38px solid transparent;
  border-top: 80px solid black;
  transform: rotate(-35deg);
  position: absolute;
  bottom: -12px;
  right: -5px;
}

.maybe_tailL {
  display: none;
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 10px;
}

.maybe_tailL::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 60px solid white;
  transform: rotate(35deg);
  position: absolute;
  bottom: -2px;
  left: 9px;
  z-index: 1000;
}

.maybe_tailL::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 38px solid transparent;
  border-right: 38px solid transparent;
  border-top: 80px solid black;
  transform: rotate(35deg);
  position: absolute;
  bottom: -10px;
  left: -2px;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

.icon_right {
  bottom: 50px;
}

.icon_shadow_right {
  bottom: 45px;
  left: 7px;
}

.icon_left {
  bottom: 50px;
  right: 60px;
}

.icon_shadow_left {
  bottom: 45px;
  right: 61px;
}

.icons {
  display: none;
  margin: -220px;
  z-index: 2000;
  position: absolute;
}

.icons_superman {
  transform: scale(0.15);
  bottom: 120px;
}

.icons_batman {
  transform: scale(0.1);
  bottom: -45px;
  left: 150px;
}

.icons_l {
  right: 70px;
}

.icons_r {
  left: 70px;
}

.left:not(:has(+ .left)) + .right>.icons {
  display: inline;
}

.right:not(:has(+ .right)) + .left>.icons {
  display: inline;
}

.bg_outer > .right:first-child > .icons {
  display: inline;
}

.bg_outer > .left:first-child > .icons {
  display: inline;
}

/* tails */

.left:not(:has(+ .left)) + .right>.maybe_tailR {
  display: inline;
}

.right:not(:has(+ .right)) + .left>.maybe_tailL {
  display: inline;
}

.bg_outer > .right:first-child > .maybe_tailR {
  display: inline;
}

.bg_outer > .left:first-child > .maybe_tailL {
  display: inline;
}
