..bg_outer {
  width: 90%;
  max-width: 600px;
  height: auto;
  padding: 20px;
  margin: auto;
  background: pink;
}

.bubble_container {
  width: 350px;
  position: relative;
  padding: 5px;
  margin-bottom: 15px;
}

.bg_outer > .bubble_container:last-child {
  margin-bottom: 27px;
}

.bg_outer > .bubble_container:first-child {
  margin-top: 27px;
}

.CAwhite {
  width: 0px;
  height: 60px;
  border-radius: 20% 55% 55% 20%;
  border-right: 20px solid white;
  position: absolute;
  right: -25px;
  z-index: 1000;
}

.cxn_allowed, .CAwhite {
  display: none;
}

.cxn_allowed {
  width: 0px;
  height: 60px;
  border-radius: 20% 55% 55% 20%;
  border-right: 30px solid black;
  position: absolute;
  bottom: -40px;
}

.right.superman:has(+ .bubble_container.right.superman) .cxn_allowed {
  display: inline;
  right: 120px;
}

.right.superman:has(+ .bubble_container.right.superman) .CAwhite {
  display: inline;
}

.left.batman:has(+ .bubble_container.left.batman) .cxn_allowed {
  display: inline;
  border-radius: 55% 20% 20% 55%;
  border-left: 30px solid black;
  border-right: 0;
  left: 120px;
}

.left.batman:has(+ .bubble_container.left.batman) .CAwhite {
  display: inline;
  border-radius: 55% 20% 20% 55%;
  border-left: 20px solid white;
  border-right: 0;
  position: absolute;
  left: -25px;
}

.left.superman:has(+ .bubble_container.left.superman) .cxn_allowed {
  display: inline;
  border-radius: 55% 20% 20% 55%;
  border-left: 30px solid black;
  border-right: 0;
  left: 120px;
}

.left.superman:has(+ .bubble_container.left.superman) .CAwhite {
  display: inline;
  border-radius: 55% 20% 20% 55%;
  border-left: 20px solid white;
  border-right: 0;
  position: absolute;
  left: -25px;
}

.left.flash:has(+ .bubble_container.left.flash) .cxn_allowed {
  display: inline;
  border-radius: 55% 20% 20% 55%;
  border-left: 30px solid black;
  border-right: 0;
  left: 120px;
}

.left.flash:has(+ .bubble_container.left.flash) .CAwhite {
  display: inline;
  border-radius: 55% 20% 20% 55%;
  border-left: 20px solid white;
  border-right: 0;
  position: absolute;
  left: -25px;
}

.bubble {
  background: white;
  min-height: 80px;
  border-radius: 48%;
  text-align: center;
  padding: 30px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  color: black;
  text-transform: uppercase;
  font-size: 1.4em;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
  font-style: italic;
  position: relative;
  z-index: 100;
}

.right > .maybe_tail {
  display: none;
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  right: 10px;
}

.right > .maybe_tail::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 60px solid white;
  transform: rotate(-35deg);
  position: absolute;
  bottom: -2px;
  right: 9px;
  z-index: 1000;
}

.right > .maybe_tail::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 38px solid transparent;
  border-right: 38px solid transparent;
  border-top: 80px solid black;
  transform: rotate(-35deg);
  position: absolute;
  bottom: -12px;
  right: -5px;
}

.left > .maybe_tail {
  display: none;
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 10px;
}

.left > .maybe_tail::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 60px solid white;
  transform: rotate(35deg);
  position: absolute;
  bottom: -2px;
  left: 9px;
  z-index: 1000;
}

.left > .maybe_tail::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 38px solid transparent;
  border-right: 38px solid transparent;
  border-top: 80px solid black;
  transform: rotate(35deg);
  position: absolute;
  bottom: -12px;
  left: -5px;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

.icons {
  display: none;
  margin: -220px;
  z-index: 2000;
  position: absolute;
}

.icons_superman {
  transform: scale(0.15);
  bottom: 120px;
}

.icons_batman {
  transform: scale(0.1);
  bottom: -45px;
  left: 150px;
}

.icons_flash {
  left: 45px;
  bottom: -335px;
  transform: scale(0.05);
}

.icons_l {
  right: 70px;
}

.icons_r {
  left: 70px;
}

.superman:not(:has(+ .superman)) + *>.icons {
  display: inline;
}

.batman:not(:has(+ .batman)) + *>.icons {
  display: inline;
}

.flash:not(:has(+ .flash)) + *>.icons {
  display: inline;
}

.bg_outer > *:first-child > .icons {
  display: inline;
}

.batman:not(:has(+ .batman)) + *>.maybe_tail {
  display: inline;
}

.superman:not(:has(+ .superman)) + *>.maybe_tail {
  display: inline;
}

.flash:not(:has(+ .flash)) + *>.maybe_tail {
  display: inline;
}

.bg_outer > *:first-child > .maybe_tail {
  display: inline;
}

.batman:not(:has(+ .batman)) {
  margin-bottom: 10px;
}

.superman:not(:has(+ .superman)) {
  margin-bottom: 10px;
}

.flash:not(:has(+ .flash)) {
  margin-bottom: 10px;
}

.right:nth-child(odd) {
  margin-right: 40px;
}

.left:nth-child(odd) {
  margin-left: 40px;
}
